<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="userManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="userContext.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <userManagement.Properties.Settings>
            <setting name="domain" serializeAs="String">
                <value>msanaker</value>
            </setting>
            <setting name="domainLDAPbase" serializeAs="String">
                <value>dc=msanaker,dc=local</value>
            </setting>
        </userManagement.Properties.Settings>
        <userContext.Properties.Settings>
            <setting name="domain" serializeAs="String">
                <value>imrtest</value>
            </setting>
            <setting name="domainLDAPbase" serializeAs="String">
                <value>dc=imrtest,dc=local</value>
            </setting>
        </userContext.Properties.Settings>
    </applicationSettings>
</configuration>